*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smooth;
    font-family:Arial, sans-serif;
}

body{
    background:#f4f4f4;
    color:#333;
}

/* NAV */
nav{
    position:fixed;
    top:0;
    width:100%;
    background:#222;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 40px;
    z-index:1000;
}

.logo{
    color:white;
    font-size:22px;
    font-weight:bold;
}

nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin-left:20px;
}

nav ul li a{
    color:white;
    text-decoration:none;
    transition:0.3s;
}

nav ul li a:hover{
    color:#00d4ff;
}

/* HERO */
header{
    height:100vh;
    background:linear-gradient(135deg,#007BFF,#00C6FF);
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:white;
}

.hero h1{
    font-size:50px;
}

.hero span{
    color:yellow;
}

.hero p{
    margin:15px 0;
    font-size:22px;
}

/* BUTTON */
.btn{
    display:inline-block;
    padding:12px 25px;
    background:white;
    color:#007BFF;
    border-radius:5px;
    text-decoration:none;
    transition:0.3s;
    font-size:18px;
}

.btn:hover{
    background:#222;
    color:white;
}

/* SECTIONS */
section{
    padding:90px 10%;
    text-align:center;
}

h2{
    margin-bottom:25px;
    font-size:34px;
}

/* ABOUT TEXT */
#about p{
    font-size:20px;
    line-height:1.9;
    max-width:850px;
    margin:auto;
}

/* PROFILE */
.profile{
    width:180px;
    height:180px;
    border-radius:50%;
    object-fit:cover;
    border:5px solid #007BFF;
    margin:20px 0;
}

/* SKILLS */
.skills{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:15px;
}

.skill{
    background:#007BFF;
    color:white;
    padding:12px 22px;
    border-radius:6px;
    font-size:18px;
    transition:0.3s;
}

.skill:hover{
    transform:scale(1.1);
}

/* PROJECTS */
.projects{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:20px;
}

.card{
    width:300px;
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 5px 15px rgba(0,0,0,0.2);
    transition:0.3s;
}

.card:hover{
    transform:translateY(-8px);
}

/* RESUME */
.resume-box p{
    font-size:18px;
    margin-bottom:15px;
}

/* CONTACT */
.contact p{
    margin:12px 0;
    font-size:18px;
}

/* FOOTER */
footer{
    background:#222;
    color:white;
    padding:20px;
    font-size:16px;
}

/* ANIMATION */
.fade{
    opacity:0;
    transform:translateY(40px);
    transition:1s;
}

.fade.show{
    opacity:1;
    transform:translateY(0);
}

/* RESPONSIVE */
@media(max-width:768px){
    nav{
        flex-direction:column;
    }

    nav ul{
        margin-top:10px;
        flex-wrap:wrap;
        justify-content:center;
    }

    .hero h1{
        font-size:35px;
    }

    .projects{
        flex-direction:column;
        align-items:center;
    }
}